     <link rel="stylesheet" type="text/css" href="/static/signup/signup.css">
     <script type="text/javascript"
         src="{{ url_for('static', filename='signup/signup.js') }}"></script>
  <h1>Sign Up</h1>
  <form action="{{ url_for('auth.signup') }}" method="post">
    <input name="username" type="text" autocomplete="off" id="username">
    <label for="username">Username</label>
    <input name="password"type="password" autocomplete="off" id="password">
    <label for="password">Password</label>
    <input name="password2" type="password" id="password2">
    <label for="password">Repeat Password</label>
    <input type="submit" value="Submit" id="submit">