    <head>
        <link rel="stylesheet" type="text/css" href="/static/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width" />
    </head>

    <body>
    <div class="muck-up">
      <div class="overlay"></div>
      <div class="content">
        <div class="logo">
          <a href="#"><span class="fa fa-map-marker"></i></a>
        </div>
        <div class="header">
          <hr>
          <h4>Web<span>sit</span>e</h4>
          <p>Welcome to Website</p>
        </div>
        <div class="login">
          <a class="btn sign-in" href="login">Log In</a>
          <a class="btn sign-up" href="signup">Sign Up</a>
        </div>
      </div>
    </div>
    </body>
